*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: url(assets/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.65);
    min-height: 400px;
    width: 300px;
    padding: 1rem;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: rgb(125, 125, 125);
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
}

.result{
    height: auto;
    width: 100%;
    margin-top: 1rem;
}

p{
    color: black;
    background-color: rgb(125, 125, 125);
    border-radius: 10px;
    padding: 5px;    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    color: rgb(224, 224, 224);
    width: 90%;
    margin: 1rem;
    height: 2rem;
    border: 0;
    border-bottom: 1px solid;
    border-color: rgb(125, 125, 125);
    background-color: transparent;
}

input:focus{
    outline: 0;
}

button{
    width: 70%;
    height: 2rem;
    color: rgb(224, 224, 224);
    background-color: rgb(86, 0, 0);
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: .5rem;
    cursor: pointer;
}

button:hover{
    transform: translateY(-3px);
    transition: .3s;
}
