*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(26, 83, 105);
}

.container{
    min-height: 30%;
    width: 40%;
    border-radius: 10px;
    padding: 1rem;
    background-color: aliceblue;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.85);
}

h1{
    margin: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.clock{
    text-align: center;
    font-size: 3em;
    margin: .25rem;
    padding: 2px 1px;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.buttons button{
    margin: 5px 10px;
    width: 4rem;
    height: 2rem;
    padding: 2px;
    border: 1px solid;
    border-radius: 8px;
    outline: transparent;
    color: aliceblue;
    background-color: rgb(26, 83, 105);
}

.buttons button:hover{
    transform: translateY(-3px);
    transition: .3s;
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.85);
}

.pause{
    color: red;
}